# Ignore node_modules - dependencies are installed in the container
node_modules

# Ignore build artifacts
.next
.dist



# Ignore configuration files specific to the developer's machine
# Ignore lock files (optional, depends on whether you use `npm install` or `npm ci`)


# Ignore README and any other unnecessary documentation
README.md

# Ignore editor-specific or temporary files
*.log
*.tsbuildinfo
